#example1 {
    border: 10px dotted black;
    padding:35px;
    background: #708090;
}

#example2 {
    border: 10px dotted black;
    padding:35px;
    background: #708090;
    background-clip: padding-box;
}

#example3 {
    border: 10px dotted black;
    padding:35px;
    background: #708090;
    background-clip: content-box;
}
